.container-left {
    display: none;
}

.menu-box {
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: -70vw;
    width: 70vw;
    background-color: var(--back-color);
    z-index: 11;
    padding: 20px;
    height: 100vh;
    box-shadow: 10px 0px 15px var(--neutral-8);
    transition: .2s left, .2s visibility;
}

.menu-box.active {
    visibility: visible;
    left: 0;
}

.menu-box .filled { 
    font-variation-settings: 'FILL' 1;
}

.menu-box > .menu-header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.menu-box > * > .options {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1rem;
}

.menu-box > * > .options > * {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .8rem;
}

.menu-box > .menu-header > .container-account {
    display: flex;
    align-items: center;
    gap: 0.333rem;
    text-align: right;
}

@media screen and (max-width: 744px) {
    .container-left {
        display: block;
    }
}