    <footer class="footer">
        <div class="container-creator">
            <p class="font-size-base font-wght-400"><%= language.footer %> <a href="https://github.com/gabriel-tomas" target="_blank">Gabriel Tomás</a></p>
        </div>
    </footer>
    <div class="back-blocker"></div>
    <script src="/assets/js/global.js"></script>