<body>
    <%- include("./messages") %>
    <header>
        <div class="container-search">
            <button class="search-btn">
                <span class="search-icon font-size-lg material-symbols-outlined">search</span>
                <span class="right-arrow font-size-lg material-symbols-outlined">chevron_right</span>
            </button>
            <input type="text" class="radius-total" id="search-box">
        </div>
        <div class="container-title">
            <a href="/">
                <h1 class="font-size-lg font-wght-700">E-Commerce</h1>
            </a>
        </div>
        <div class="container-right">
            <button class="change-page-theme">
                <span class="font-size-lg material-symbols-outlined">dark_mode</span>
                <span class="text">
                    <span class="font-size-sm">Dark mode</span>
                    <span class="font-size-sm">
                        <strong class="text-status-darkmode">OFF</strong>
                    </span>
                </span>
            </button>
            <a href="/cart">
                <span class="font-size-lg material-symbols-outlined">shopping_cart</span>
            </a>
        </div>
    </header>