<%- include("./includes/head") %>
<%- include("./includes/end-head/end-head-product") %>
<%- include("./includes/start-body") %>
    <section class="register-login space-sides max-width-section-align space-top">
        
    </section>
<%- include("./includes/footer") %>
</body>
</html>
