.filter-options {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.filter-options > .button.order {
    border-radius: 5px;
    border-color: var(--neutral-2);
    color: var(--text);
    padding: 5px;
    background-color: var(--neutral-1);
}

.filter-options > .button.order > option {
    background-color: var(--neutral-3);
}

.filter-options > .button.filter {
    border-radius: 5px;
    width: clamp(80px, 15%, 100px);
    background-color: var(--neutral-1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: background-color .07s;
}

.filter-options > .button.order:hover {
    outline: 1px solid var(--neutral-2);
}

.filter-options > .button.order:focus {
    border-color: var(--secondary-darker);
    outline: 1px solid var(--secondary-darker);
}

.filter-additional-box {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 42px;
    z-index: 10;
    background-color: var(--secondary);
    margin-inline: clamp(1rem, 0.333rem + 3.333vw, 3rem);
    padding: 24px;
    box-shadow: 0px 0px 15px var(--neutral-7);
    border-radius: 15px;
    width: clamp(260px, 30%, 350px);
}

.filter-additional-box .container-price {
    display: flex;
    column-gap: 25px;
    row-gap: 10px;
}

.filter-additional-box .container-price > div {
    flex-basis: 100%;
}

.filter-additional-box .container-price .input-price {
    height: 35px;
    border: 1px solid var(--neutral-5);
    border-radius: 10px;
    width: max(100%, 100px);
    padding: 10px;
}

.filter-additional-box .container-apply  {
    text-align: center;
}

.filter-additional-box .container-apply .button {
    width: 100%;
    border-radius: 15px;
    background-color: var(--primary);
}

.filter-additional-box .container-category .checkbox-category {
    margin-right: .14rem;
}

.filter-additional-box .container-category .checkbox-category:checked {
    accent-color: var(--accent);
}

.filter-additional-box .container-category .container-options-category > div {
    background-color: var(--secondary-darker);
    padding: 3px;
    width: fit-content;
    border-radius: 5px;
}

.filter-additional-box .container-price .input-price::-webkit-outer-spin-button,
.filter-additional-box .container-price .input-price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-additional-box .container-price .input-price[type=number] {
  -moz-appearance: textfield;
}
