.product-item {
    margin-bottom: 3rem;
}

.top-content > a {
    color: rgb(0, 80, 252);
}

.bottom-content {
    display: grid;
    grid-template-columns: .65fr .35fr;
    gap: 30px;
}

.bottom-content .main-img {
    width: 100%;
    border-radius: 15px;
}

.bottom-content .main-img > img {
    width: 100%;
    object-fit: cover;
    height: clamp(300px, 70vh, 620px);
    border-radius: 15px;
}

.bottom-content .gallery-imgs {
    width: 100%;
    display: flex;
    gap: clamp(0.313rem, -0.042rem + 1.771vw, 1.375rem);
}

.bottom-content .gallery-imgs > .gallery-item {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    border: 1px solid var(--neutral-6);
}

.bottom-content .gallery-imgs > .gallery-item > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 5px;
}

.bottom-content > .right-content {
    display: flex;
    flex-direction: column;
}

.bottom-content > .right-content .container-title > h1, .bottom-content > .right-content .container-description > p {
    text-transform: capitalize;
}

.bottom-content > .right-content .container-buy {
    margin-top: auto;
}

.bottom-content > .right-content > .container-price .discount {
    color: var(--accent);
    margin-left: .2rem;
}

.bottom-content > .right-content > .container-stock .value {
    text-decoration: underline;
}

.container-buy {
    margin-bottom: 1rem;
}

.container-buy a, .container-buy > .container-btn-cart > button {
    display: grid;
    height: 60px;
    place-items: center;
    border-radius: 10px;
}

.container-buy > .container-btn-cart > button {
    width: 100%;
}

.container-buy a.primary > button, .container-buy a.secondary > button {
    color: var(--text);
}

.container-buy a.primary {
    background-color: var(--primary);
}

.container-buy button.secondary {
    background-color: var(--secondary);
}

@media screen and (max-width: 790px) {
    .bottom-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 30px;
    }

    .bottom-content .main-img > img {
        height: clamp(300px, 55vh, 520px);
    }

    .bottom-content > .right-content .container-buy {
        margin-top: 2.5rem;
    }

    .bottom-content .gallery-imgs > .gallery-item {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        border: 1px solid var(--neutral-6);
    }
}

@media screen and (max-width: 360px) {
    .bottom-content {
        display: block;
    }

    .bottom-content > .right-content .container-title > h1 {
        margin-top: 30px;
    }
}