.message {
    visibility: hidden;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 50px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px var(--neutral-8);
    width: clamp(200px, 80vw, 380px);
    z-index: 10;
    text-align: center;
}

.message > p {
    font-family: var(--title-font);
}

.message > p.normal-font {
    font-family: var(--normal-font);
}

.message > .counter-added {
    display: none;
    position: absolute;
    top: -4px;
    left: -4px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 3px;
    background-color: var(--accent);
}

.message > ul {
    padding-left: 2rem;
}

.message > ul > li + li {
    margin-top: .3rem;
}

.message.error {
    background-color: var(--red-0);
}

.message.success {
    background-color: var(--primary);
}

.message.active {
    animation: opacityMessage 4s;
}

.message.important.active {
    animation: opacityMessage 6.5s;
}

.close-message {
    position: absolute;
    top: 5px;
    right: 5px;
}

@keyframes opacityMessage {
    0% {
        visibility: visible;
        opacity: 0;
    }

    6% {
        opacity: 1;
    }
    
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}