.model-load {
    background: linear-gradient(-220deg, #e4e4e4, #e4e4e4,#e4e4e4, #e4e4e4, #a0a0a0, #e4e4e4, #e4e4e4, #e4e4e4, #e4e4e4);
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}

.product-model-load .container-bottom-infos .container-title {
    height: 18px;
    border-radius: 5px;
    
    background: linear-gradient(-220deg, #e4e4e4, #e4e4e4,#e4e4e4, #e4e4e4, #a0a0a0, #e4e4e4, #e4e4e4, #e4e4e4, #e4e4e4);
    background-size: 600% 600%;
    
    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}


@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}